$colorBanner: #dddddd;
$darkRed: #6a1513;
$head: #feb5c9;
$light-color: #666;
$light-bg: #f9f9f9;
$border: 0.1rem solid rgba(0, 0, 0, 0.3);
$box-shadow: 0 0.5rem 1rem #fa7373;
$red: #cc3586;
$black: #130f40;
$background1: linear-gradient(#ff7fbf, #cc3586);
$background2: linear-gradient(#3225bf, #130f40);
