@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 0.5rem 1rem #fa7373;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  background-image: url("/images/background2.jpg");
  background-size: cover;
}
.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}
.header .logo img {
  max-height: 75px;
  max-width: 150px;
}
.header .logo i {
  color: #cc3586;
}
.header .navbar a {
  font-size: 2rem;
  color: #130f40;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #cc3586;
}
.header .icons div,
.header .icons a {
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 1.5rem;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: -105%;
  width: 50rem;
  height: 5.5rem;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem #fa7373;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  padding: 0 1.2rem;
}
.header .search-form label {
  font-size: 2.2rem;
  margin-right: 1.7rem;
}

* {
  font-family: "Tangerine", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  color: #130f40;
}

.header .icons div,
.header .icons a, .header .search-form label {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem #130f40;
}
.header .icons div:hover,
.header .icons a:hover, .header .search-form label:hover {
  -webkit-text-stroke: 0.1rem #cc3586;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #cc3586;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 2rem;
  color: #6a1513;
  text-align: center;
  margin-top: 150px;
}
.heading span {
  color: #cc3586;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  background: linear-gradient(#ff7fbf, #cc3586);
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(#3225bf, #130f40);
}

#menu-btn {
  display: none;
}

.footer {
  background-image: url("/images/background2.jpg");
  background-size: cover;
  padding-top: 0px;
  margin-bottom: 0px;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  text-align: justify;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem 0;
  line-height: 2;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #130f40;
  padding: 1rem 0;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #cc3586;
}
.footer .box-container .box a:hover {
  color: #cc3586;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .share {
  padding-top: 1rem;
  text-align: center;
}
.footer .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: linear-gradient(#3225bf, #130f40);
  color: #fff;
  margin: 0.3rem;
}
.footer .share a:hover {
  background: linear-gradient(#ff7fbf, #cc3586);
  transform: rotate(360deg);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .heading {
    margin-top: 170px;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .heading {
    margin-top: 160px;
  }
  .header .search-form {
    width: 100%;
    top: 100%;
    border-radius: 0;
  }
  .header .search-form.active {
    right: 0;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .products .box-container .box {
    width: 100%;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}/*# sourceMappingURL=productsPage.css.map */