@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import "_colors";
@import "_header";

* {
  font-family: "Tangerine", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  color: $black;
}

@mixin grid($value) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
  gap: 1.5rem;
}

%text-stroke {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem $black;

  &:hover {
    -webkit-text-stroke: 0.1rem $red;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 5rem;
  }
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 2rem;
  color: $darkRed;
  text-align: center;
  margin-top: 150px;
  span {
    color: $red;
  }
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  background: $background1;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    background: $background2;
  }
}

#menu-btn {
  display: none;
}

// the scss of landPage.html for products

// .products {
//   .filter-buttons {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     padding-bottom: 2.5rem;
//     margin-top: 10px;
//     gap: 2rem;

//     .buttons {
//       font-size: 1.7rem;
//       color: $black;
//       cursor: pointer;

//       &:hover,
//       &.active {
//         color: $red;
//       }
//     }
//   }

//   .box-container {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 1.5rem;
//     justify-content: center;

//     .box {
//       width: 26rem;
//       border-radius: 0.5rem;
//       overflow: hidden;
//       position: relative;
//       box-shadow: $box-shadow;
//       border: $border;

//       &.hide {
//         display: none;
//       }

//       &.active {
//         animation: fadeUp 0.4s linear;
//       }

//       .icons {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         background: rgba(0, 0, 0, 0.7);
//         height: 35rem;
//         width: 100%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         gap: 0.5rem;
//         transform: scale(0);
//         z-index: 1;

//         a {
//           font-size: 2rem;
//           height: 5rem;
//           width: 5rem;
//           line-height: 5rem;
//           text-align: center;
//           background: #fff;
//           border-radius: 0.5rem;
//           @extend %text-stroke;
//         }
//       }

//       &:hover .icons {
//         transform: scale(1);
//       }

//       .image {
//         height: 35rem;
//         width: 100%;
//         overflow: hidden;

//         img {
//           height: 100%;
//           width: 100%;
//           object-fit: cover;
//         }
//       }

//       &:hover .image img {
//         transform: scale(1.1);
//       }

//       .content {
//         padding: 1rem 1.5rem;

//         h3 {
//           font-size: 2rem;
//           color: $black;
//           font-weight: normal;
//         }

//         .price {
//           padding: 0.5rem 0;
//           display: flex;
//           gap: 0.5rem;
//           align-items: center;

//           .amount {
//             font-size: 2rem;
//             font-weight: bolder;
//             color: $black;
//           }

//           .cut {
//             font-size: 1.5rem;
//             text-decoration: line-through;
//             color: $light-color;
//           }

//           .offer {
//             font-size: 2rem;
//             color: $red;
//           }
//         }
//       }
//     }
//   }
// }

.footer {
  background-image: url("/images/background2.jpg");
  background-size: cover;
  padding-top: 0px;
  margin-bottom: 0px;
  .box-container {
    @include grid(15rem);
    text-align: justify;

    .box {
      h3 {
        font-size: 2.2rem;
        color: $black;
        padding: 1rem 0;
      }

      p {
        font-size: 1.5rem;
        color: $light-color;
        padding: 0.5rem 0;
        line-height: 2;
      }

      a {
        display: block;
        font-size: 1.4rem;
        color: $black;
        padding: 1rem 0;

        i {
          padding-right: 0.5rem;
          color: $red;
        }

        &:hover {
          color: $red;
        }

        &:hover i {
          padding-right: 2rem;
        }
      }
    }
  }

  .share {
    padding-top: 1rem;
    text-align: center;

    a {
      font-size: 2rem;
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      border-radius: 50%;
      background: $background2;
      color: #fff;
      margin: 0.3rem;

      &:hover {
        background: $background1;
        transform: rotate(360deg);
      }
    }
  }
}

// media queries

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }
  .heading {
    margin-top: 170px;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: $border;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    a {
      font-size: 2rem;
      margin: 2rem;
      display: block;
    }
  }
  .heading {
    margin-top: 160px;
  }

  .header .search-form {
    width: 100%;
    top: 100%;
    border-radius: 0;

    &.active {
      right: 0;
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .products .box-container .box {
    width: 100%;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
